{% load static %}
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <link rel="icon" href="/create-profile/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&amp;family=Allerta&amp;family=Candal&amp;family=Fredoka:wght@400;500;600&amp;Solway:wght@300;400;500;700;800&amp;family=Dancing+Script:wght@400;500&amp;family=Sansita:wght@400;700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
      integrity="sha512-Oy+sz5W86PK0ZIkawrG0iv7XwWhYecM3exvUtMKNJMekGFJtVAhibhRPTpmyTj8+lJCkmWfnpxKgT2OopquBHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Social Media</title>
    <script defer="defer" src="{% static 'js/3.js' %}"></script>
    <script defer="defer" src="{% static 'js/4.js' %}"></script>
    <link href="{% static 'css/3.css' %}" rel="stylesheet" />
  </head>
  <body
    style="background-color: rgb(255, 255, 255);"
    data-new-gr-c-s-check-loaded="14.1085.0"
  >
    <noscript
      ><strong
        >We're sorry but social media-creator doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      ></noscript
    >
    <div id="app" data-v-app="">
      <div class="app">
        <div class="navbar">
          <img
            src="https://qrlab.co/create-profile/img/logo.ee696d6e.png"
            alt=""
            class="logo"
          />
          <div class="nav"><a href="https://menulab.com/">Home</a></div>
        </div>
        <div class="main-content">
          <div class="menu-create-form">
            <div class="form">
              <div class="menu-create-progress">
                <div class="progress-bar">
                  <div class="progress" style="width: 0%;"></div>
                </div>
                <div class="progress-stops">
                  <div class="progress-stop active">
                    <div class="sl">
                      <span>1</span>
                      <div class="text">Info</div>
                    </div>
                  </div>
                  <div class="progress-stop">
                    <div class="sl">
                      <span>2</span>
                      <div class="text">Social</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-content">
                <div>
                  <p class="title">Provide you personal information</p>
                  <div class="input-group">
                    <label>Profile picture</label
                    ><label
                      class="img-drop-zone"
                      for="customImg"
                      data-v-ac020f7a=""
                      ><i class="bi bi-cloud-arrow-up" data-v-ac020f7a=""></i
                      ><span data-v-ac020f7a=""
                        >Drag and drop files here or browse</span
                      ><input
                        type="file"
                        name="customImg"
                        id="customImg"
                        data-v-ac020f7a=""
                    /></label>
                  </div>
                  <div class="input-group">
                    <label>Full Name</label
                    ><input type="text" placeholder="Enter your name" />
                  </div>
                  <div class="input-group">
                    <label>Title</label
                    ><input type="text" placeholder="Enter your title" />
                  </div>
                  <div class="input-group">
                    <label>Email</label
                    ><input type="email" placeholder="Enter your email" />
                  </div>
                  <div class="input-group">
                    <label>Phone</label
                    ><input type="text" placeholder="Enter your phone number" />
                  </div>
                  <div class="input-group">
                    <label>Website</label
                    ><input type="url" placeholder="Enter your website URL" />
                  </div>
                </div>
              </div>
              <div class="form-footer">
                <!----><button class="btn"><span>Next</span></button>
              </div>
            </div>
            <div class="preview">
              <div class="phone-mockup-container">
                <div class="phone-mockup-phone">
                  <div class="phone-mockup-content">
                    <div class="phone-screen-main">
                      <div class="phone-navbar">
                        <img
                          src="https://qrlab.co/create-profile/img/logo.ee696d6e.png"
                          alt=""
                          class="logo"
                        />
                      </div>
                      <div class="phone-content">
                        <div
                          class="mockup-content-container"
                          data-v-69f60277=""
                        >
                          <!----><!---->
                          <div class="user-infos" data-v-69f60277="">
                            <!----><!----><!----><!---->
                          </div>
                          <div
                            class="user-socials"
                            data-v-69f60277=""
                            style="--list-color: #fff;"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <img
                    src="https://qrlab.co/create-profile/img/mockup-phone.d859e481.png"
                    alt=""
                    class="phone-mockup-phone-img"
                  />
                </div>
              </div>
            </div>
          </div>
          <!---->
        </div>
      </div>
    </div>
  </body>
</html>
