{% load static %}
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/profile/favicon.ico" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,300,400&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css"
      integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>profilecard</title>
    <script defer="defer" src="{% static 'js/2.js' %}"></script>
    <script defer="defer" src="{% static 'js/1.js' %}"></script>
    <link href="{% static 'css/2.css' %}" rel="stylesheet" />
  </head>
  <body
    data-new-gr-c-s-check-loaded="14.1085.0"
    style="background-color: rgb(255, 255, 255);"
  >
    <noscript
      ><strong
        >We're sorry but profilecard doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      ></noscript
    >
    <div class="container">
      <img
        src="{{data.dp}}"
        alt=""
        class="user-dp"
        style="--dp-border: rgb(114, 73, 54);"
      />
      <p class="user-name">{{data.name}}</p>
      <div class="user-infos">
        <p><span>title:</span> <span>{{data.title}}</span></p>
        <p><span>email:</span> <span>{{data.email}}</span></p>
        <p><span>phone:</span> <span>{{data.phone}}</span></p>
        <p>
          <span>website:</span> <span><a href="{{data.website}}">{{data.website}}</a></span>
        </p>
      </div>
      <div class="user-socials" style="--list-color: #fff;">
      </div>
    </div>
  </body>
  <script>
    var data = {{data|safe}};
    //get socialLinks from data
    var socialLinks = data.socialLinks;
    console.log(socialLinks);
    //loop through socialLinks and add them to the user-socials div
    for (var i = 0; i < socialLinks.length; i++) {
      var socialLink = socialLinks[i];
      var socialLinkName = socialLink.title;
      var socialLinkUrl = socialLink.link;
      var socialLinkIcon = socialLink.icon;
      var socialLinkHtml = `<a href="${socialLinkUrl}" class="user-social" style="--animate-delay: 0.15s;"><i class="icon bi-${socialLinkIcon}"></i><span class="text">${socialLinkName}</span><span class="visit-btn"><i class="bi bi-box-arrow-right"></i></span></a>`;
      document.querySelector(".user-socials").innerHTML += socialLinkHtml;
    }

  </script>

</html>
